# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# intellij
*.iml
*.idea
*-ide-plugin.xml

# eclipse
.classpath
.project
.settings/
test-output/

# Logs
*.log

# plugin / extension folders
soapui/ext
soapui/plugins

# mac
.DS_Store

# windows
Thumbs.db
