@charset "utf-8";
/* CSS Document */

/***********************************************************
 * This is CSS for Welcome Page of SoupUI App - Open Source
 ***********************************************************/

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:62.5%;
	margin:0;
	padding:0;
}

h2{
	color:#1b181c;
	margin:0 0 10px;
}

p{
	color:#010101;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:1.1em;
	line-height:130%;
	margin:0 0 5px;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

#page{
	display:block;
	position:relative;
	width:650px;
}

#header{
	background:url(../images/head.jpg) no-repeat 0 0;
	height:300px;
	position:relative;
	overflow:hidden;
}
body#pro #header{
	background:url(../images/head.jpg) no-repeat 0 0 !important;
	/*height:490px;*/
	width:650px;
}

#top-stripe{
	color:#afafaf;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.9em;
	height:20px;
	line-height:20px;
	padding:0 10px;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:630px;
}
#top-stripe a{
	color:#afafaf;
}

.left{
	float:left;
}
.right{
	float:right;
}

#try-buy{
	position:absolute;
	left:400px;
	top:70px;
}
#try-buy a img, #doc-help a img{
	border:0;
}

#doc-help{
	position:absolute;
	left:450px;
	top:30px;
}
#doc-help a{
	display:block;
}
#doc-help a img{
	float:left;
}



#header-leftbox{
	/*position:absolute;
	top:185px;
	left:35px;
	height:160px;*/
	margin: 0 0 0 35px;
	width:390px;
	/*overflow:hidden;*/
}
body#pro #header-leftbox{
	/*height:320px !important;*/
}
body#pro #header-leftbox .news{
	border-bottom:1px solid #cacaca;
	display:block;
	margin-bottom:10px;
	padding-bottom:8px;
}

#header-rightbox{
	/*position:absolute;
	top:210px;
	left:465px;
	height:135px;
	width:170px;
	overflow:hidden;*/
	margin-top:-8px;
	min-height:114px;
	padding:30px 20px 10px 35px;
}
#header-leftbox h2{
	font-size:2.3em;
	line-height:105%;
}
body#pro #header-leftbox h2{
	font-size:1.9em;
	line-height:105%;
}
#header-leftbox img.picture{
	float:left;
	margin-right:0px;
}
#header-rightbox h2{
	font-size:1.7em;
	line-height:110%;
}
.title{
	margin-bottom:10px;
}

.links{
	display:block;
	float:right;
	height:12px;
}
.links a{
	background:url(../images/red-arrows.png) no-repeat 0 3px;
	color:#676767;
	margin-left:15px;
	padding-left:10px;
}

body#pro #header-leftbox .news .links{
	float:none;
}
body#pro .links span.left{
	color:#666;
	float:left;
}
body#pro .links span.right{
	float:right;
}

#content{
	display:block;
	margin:-110px 0 20px;
	position:relative;
	width:650px;
}
/*body#pro #content{
	margin-top:0;
}*/
#column-1{
	display:block;
	float:left;
	margin-left:10px;
	width:229px;
}
#column-2{
	display:block;
	float:left;
	width:202px;
}
#column-3{
	display:block;
	float:right;
	width:209px;
}
/*body#pro #column-3{
	float:none;
	left:441px;
	margin-top:345px;
	position:absolute;
}*/

#did-you-know{
	display:block;
	margin:27px 15px 15px;
	width:198px;
}
#did-you-know .top{
	background:url(../images/dyk-top.gif) no-repeat 0 0;
	height:15px;
}
#did-you-know .middle{
	background:#242122 url(../images/dyk-middle.gif) repeat-x 0 bottom;
	min-height:295px;
	padding:0 15px 15px;
}
#did-you-know .middle h2{
	color:#f6eb16;
	font-size:2.2em;
}
#did-you-know .middle p{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.95em;
}
#did-you-know .middle ol{
	color:#fff;
	font-size:0.95em;
	margin:10px 0 0;
	padding:0 0 0 20px;
}

#did-you-know .bottom{
	background:url(../images/dyk-bottom.gif) no-repeat 0 0;
	height:30px;
}
#did-you-know .bottom a{
	background:url(../images/yellow-arrows.png) no-repeat 0 2px;;
	color:#f6eb16;
	float:right;
	margin:2px 15px 0 0;
	padding-left:14px;
}

.ad-type-1{
	margin-top:-10px;
}
.ad-type-1 img{
	border:0;
}
.ad-type-2{
	background:url(../images/ad-type2-back-top.png) no-repeat left top;
	min-height:342px;
}
.ad-type-2-inner{
	background:url(../images/ad-type2-back-bottom.png) no-repeat right bottom;
	min-height:242px;
	padding:50px 25px;
	position:relative;
}
.button{
	background:url(../images/ad-type2-back-bottom-button.png) no-repeat right bottom;
}
.type-2-picture{
	margin-bottom:20px;
}
a.learnmore{
	bottom:14px;
	left:21px;
	height:41px;
	position:absolute;
	width:154px;
}
a.learnmore img{
	border:0;
	height:41px;
	width:154px;
}

.ad-type-3{
	background:url(../images/ad-type4-back-top.png) no-repeat 0 0;
	margin-left:10px;
	min-height:114px;
	padding:45px 20px 10px 25px;
}
.ad-type-3 h2{
	font-size:1.7em;
	line-height:110%;
}

.clearfix{
	clear:both;
	font-size:0;
	height:0;
	line-height:0;
}
.clearleft{
	clear:left;
	font-size:0;
	height:0;
	line-height:0;
}
.no-bottom-border{
	border-bottom:0 !important;
	margin-bottom:0 !important;
}.YellowText {color: #f6eb16}
