body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
}
a:link {
  color:#445;
}
a:visited  {
  color:#445;
}
a:active, a:hover {
  color:#69c;
}

#bodyColumn a:link, #bodyColumn a:visited {
  color:#369;
}
#bodyColumn a:active, #bodyColumn a:hover  {
  color:#69c;
}

/*
Change Margin from 8px
*/
#banner
{
	padding: 0px;
	margin: 0px;
	width: 1024px;
	height: 72px;
}

#projectLogo span{
    border: none;
    padding: none;
    letter-spacing: 2px;
}

#projectLogo {
  font-size: xx-large; 
  font-weight: bold;
}
#organizationLogo img
{
	margin-left: 12px;
	padding: 0px;
}

a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../imges/external.png) right center no-repeat;
  padding-right: 15px;
}

a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}

h1 {
	margin-top: 15px;
	font-family: Helvetica, Arial, sans-serif;  
	margin-bottom: 12px;
	padding-bottom: 3px;
	color: #999999;
	font-weight: normal;
	font-size: 18pt;
	text-align: left;
	font-weight: bold;
}

h2 {
	margin: 12px 0px 0px 0px;
	padding-bottom: 3px;
	padding-top: 0px;
	border-bottom: 1px solid #33cc00;
	color: #00cc33;;
	font-weight: bold;
	font-size: 16pt;
}
h3 {
	padding-bottom: 3px;
	border-bottom: 1px solid #00cc33;
	color: #00cc33;
	font-weight: bold;
	font-size: medium;
	margin-bottom: 0px;
}


h4 {
 padding-top: 3px;
  padding-bottom: 3px;
  color: #00cc33;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 0px;
   margin-top: 0px;
}
p {
  font-size: small;
}
h5 {
font-family: Helvetica, Arial, sans-serif;  
padding-bottom: 3px;
  border-bottom: 2px solid #ff6d1d;
  color: #ffffff;
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 0px;
}



#toolbar
{
	width: 1020px;
	border: 1px solid #ddd;
	margin-left: 8px;
	padding: 3px 2px 3px 2px;
	background-color: #fff;
}

#date {
  background-color: #fff;
   font-size: x-small;
    padding-right: 41px;
    padding-left: 11px;
    border-right: 1px solid #ddd;
    margin-right: 9px;
}

#toolbartable
{
}

#datecell {
  background-color: #fff;
   font-size: xx-small;
    padding: 0px 0px 0px 9px;
    border-right: 1px solid #ddd;
    width: 180px;
}

#linkscell {
  background-color: #fff;
    padding-left: 15px;
    margin: 0px;
}

#breadcrumb {
  padding: 0px 5px 0px 8px;
  background-color: #fff;
  font-size: x-small;
  border-right: 1px solid #ddd;
      font-weight: bold;
  
}

#outerLeftColumn {
	float:left;
}

#leftColumn {
	width: 191px;
  margin-left: 8px;
  margin-right: 0px;
  margin-top: 9px; 
  margin-bottom: 0px;
  padding-left:0px;
  float:none;
}

#leftBanner {
	width: 193px;
  margin-left: 3px;
  margin-right: 0px;
  margin-top: 0px; 
  margin-bottom: 0px;
  float:none;
  font-size: 11px;
  text-align: center;
}

#bodyColumn {
	position: absolute;
	left: 200px;
  margin-left: 18px;
  margin-right: 5px;
  background: white;
  margin-top: 0px;
  width:800px;
  
}

#menuheader {
	color: #00cc33;
  font-size: 8pt;
  background-color:#eee;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 2px 2px 2px 9px;
  margin-bottom: 1px;
  margin-top: 1px;
    font-weight: bold;
}

#menuheader a:visited, #menuheader a:link, #menuheader a:active
{
  color: #00cc33;
}

#menuheader a:hover {
  color:#69c;
}

#navcolumn {
 border-left: 1px solid #ddd;
 border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
 padding: 0;
}

#navcolumn ul {
  padding-top: 1px;
  padding-bottom: 0px;
}

#navcolumn li {
  list-style-type: none;
  padding-left: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: smaller;
  
  border-left: 1px solid #eee;
}
#navcolumn li.expanded {
	border-left: 1px solid #eee;
  background-image: ;
}
#navcolumn li.collapsed {
  background-image: ;

border-left: 1px solid #eee;
}

table.bodyTable
{
	margin-left: 0px;
	 margin-top: 4px;
	 padding-left: 0px;
	 border:none;
	 
}

table.columnsTable table.bodyTable
{
	margin-left: 0px;
	 margin-top: 0px;
	 padding-left: 0px;
	 border:none;
}

table.imgTable, table.columnsTable
{
	margin-left: 0px;
	 margin-top: 8px;
	 padding-left: 0px;
	 border:none;	 
}

table.imgTable img, table.columnsTable img, table.bodyTable.img, p img
{
  border:0px solid #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
}

table.bodyTable th {
  color: #445;
  background-color: #ddd;
  text-align: left;
  font-weight: bold;
  vertical-align: top;
   border:none;
}

#bodyColumn ul
{
	margin: 5px;
	padding-left: 10px;
}

#bodyColumn p
{
	margin: 7px 0px 7px 0px;
	padding: 0px;
}

div.section hr
{
	color: #FFDEA5;
	background-color: #FFDEA5;
	height: 1px;
	border: none;
}

#bodyColumn ol
{
margin: 5px;
padding-left: 18px;
}

table.bodyTable th, table.bodyTable td {
  font-size: 10pt;
   border:none;
}

td.firstColumn
{
	margin: 0px;
	padding-right: 5px;
}

td.middleColumn
{
	margin: 0px;
		padding-left: 5px;
	padding-right: 5px;
}

td.lastColumn
{
		margin: 0px;
	padding-left: 5px;
}


table.bodyTable th, table.bodyTable td
{
	padding: 3px 5px 3px 5px;
	border-right:1px solid #fff;
}

table.bodyTable td
{
	font-size: 8pt;
}

table.bodyTable tr.a {
  background-color: #eee;
 
}

table.bodyTable tr.b {
  background-color: #fff;
}

.source {
	background: #eee;
  border: 1px solid #ddd;
     margin: 10px 0px 10px 0px;
    padding: 8px 10px 8px 10px;
  font-size: 8pt;
}

.gettingstarted {
	background: #ffcc00;
  	border: 1px solid #ddd;
     margin: 10px 0px 10px 0px;
    padding: 8px 10px 8px 10px;
  font-size: 8pt;
}


.gettingstartedheader {
  width: 300 px;
  margin-left: 16px;	
  padding-bottom: 3px;
  padding-top: 0px;
  color: #900;
  font-weight: bold;
  font-size: 14pt;
}

table.gstable{
	background: none;
	margin-left: 0px;
	border: 1px;











dotted; 
	border-style: solid;
	border-color: #CCCCCC;
	margin-top: 10px;
	margin-bottom: 10px;
}

td.gstd{
width = 300px;
}

#gsleftcol{
position: relative;
left: 60px;
width: 300px;
height: 300px;
float: left;
text-align: left;
}

#gsrightcol{
position: relative;
left: 120px;
width: 300px;
float: left;
clear: right;
height: 300px;
text-align: left;
}

#search
{
margin-left: 9px;
}

#footer {
 font-size: x-small;
  width: 200px;
}

.xright
{
	position: absolute;
	text-align: right;
}

#poweredBy img {
  display:block;
  margin: 10px 0 10px 9px;
  border: 0px solid #aaa;
}

#sfLogo img {
  display: block;
  padding: 5px 10px 5px 11px;
}

#thumbnailcaption
{
	font-size: 8pt;
	font-style: italic;
	margin-top: 1px;
}

table.thumbnail
{
	margin: 0px;
}

.webstartheader
{
	color: #900;
	font-size: 14pt;
}

.webstart
{
	margin-top: 10px;
	margin-bottom: 4px;
}


table.webstartlinkstable
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;		
}

table.webstartlinkstable a.externalLink, table.webstartlinkstable a.externalLink:link, table.webstartlinkstable a.externalLink:visited, table.webstartlinkstable a.externalLink:active, table.webstartlinkstable a.externalLink:hover {
  background: none;
  padding: 0px;
}

table.functable
{
	padding: 0px;		
	margin-top: 10px;
	margin-bottom: 0px;
}

table.functable img
{
	border-color: white;
	margin-top: 4px;
	margin-bottom: 4px;
}

#prolink
{
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
	left: -4px;
	top: 4px;
	size: 8px;
}

#funccell
{
	text-align: center;
	vertical-align: top;
	font-style: italic;
	font-size: 11pt;
	width: 20%;
	padding: 7px;
}

.evilist {
	list-style-image: url(../images/evibullet.jpg);
}
.relatedInfoHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #999999;
	padding-left: 1px;
}
.relatedLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
	padding-right: 10px;
}
.gsHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #999999;
	padding-left: 5px;
}
.table.relatedInner {
	background-color: #FFFFFF;
}

table.relatedInfo {
	margin-left: 0px;
	border: 1px; 
	border-style: solid;
	border-color: #CCCCCC;
	margin-top: 10px;
	background-color: #FFFFFF;
}

table.relatedInner {
	background-color: #FFFFFF;
	width="600";
	border="0";
	cellpadding="0";
}
table.GSInner {
	background-color: #FFFFFF;
	width="600";
	border="0";
	cellpadding="0";
}
.WebStartHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #666666;
	font-weight: normal;
}

table.OSProTable {
	margin-left: 0px;
	margin-top: 10px;
	background-color: #FFFFFF;
}
.OrangeHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffa500;
	font-weight: normal;
}

