div.contentBox h1{
	color:#008033;
	font-family:Arial, Helvetica, sans-serif;
	font-size:27px;
	/*font-weight:bold;*/
	margin:5px 0 5px 10px;
	padding:0;
}

div.contentBox p{
	line-height:130%;
	margin:0 0 10px 10px !important;
}

div.contentBox p.links{
	margin-top:30px !important;
}

div.contentBox p img.inline-icon{
	vertical-align:middle;
	margin:0;
}

div.contentBox ul{
	margin:0 0 20px 10px !important;
	padding:0 !important;
}

div.contentBox ul li{
	line-height:130%;
	list-style:none;
	margin-bottom:5px;
	padding-left:12px;
}

div.contentBox ul.red-dots li{
	background:url(../img/red-dot.gif) no-repeat 0 5px;
}

div.contentBox ul.gray-dots li{
	background:url(../img/gray-dot.gif) no-repeat 0 5px;
}

div.contentBox p.links a{
	color:#006b33 !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin-right:30px;
	padding-left:14px;
}

div.contentBox a.more{
	background:url(../img/more-link.png) no-repeat 0 4px;
}

div.contentBox a.top{
	background:url(../img/top-link.png) no-repeat 0 4px;
	margin-right:0;
	padding-left:12px;
}

div.contentBox div#head{
	margin-top:5px;
	position:relative;
}

div.contentBox div#lead-text{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	left:40px;
	top:150px;
	position:absolute;
	width:390px;
}

div.contentBox div#download-buttons{
	left:560px;
	top:100px;
	position:absolute;
	width:167px;
}

div.contentBox div#download-buttons img.opensource{
	
}

div.contentBox div#download-buttons img.pro{
	
}


div.contentBox div#icons{
	float:right;
	margin-top:10px;
	padding-right:68px;
}

div.contentBox div.highlight{
	color:#ff4000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:25px 0 10px 10px;
}

div.contentBox div#first-r, div.contentBox div#second-r{
	margin-bottom:20px;
}

div.contentBox div.first-c, div.contentBox div.second-c, div.contentBox div.third-c, div.contentBox div.first-second-c{
	float:left;
	margin-left:10px;
	margin-right:42px;
	width:220px;
}

div.contentBox div.first-second-c{
	min-height:210px;
	width:492px;
}

div.contentBox div.first-second-c div.qb-ilustration{ position:relative; }

div.contentBox div.first-second-c div.qb-text{ position:relative; float:right; width:220px; }

div.contentBox div.first-second-c img.ilu-1{
	position:absolute;
	top:0;
	left:10px;
}

div.contentBox div.first-second-c img.ilu-2{
	position:absolute;
	top:140px;
	left:105px;
}

div.contentBox div.third-c{
	margin-right:10px;
}

div.contentBox div.first-c p, div.contentBox div.second-c p, div.contentBox div.third-c p, div.contentBox div.first-second-c p{
	font-size:12px;
	margin:0 0 15px !important;
	padding:0;
}

div.contentBox div.first-c h1, div.contentBox div.second-c h1, div.contentBox div.third-c h1, div.contentBox div.first-second-c h1{
	margin-left:0 !important;
}

div.contentBox div.first-c h2, div.contentBox div.second-c h2, div.contentBox div.third-c h2, div.contentBox div.first-second-c h2{
	border-bottom:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	font-weight:bold;
	margin:0 0 12px;
	padding-bottom:0;
	padding-top:0;
}

div.contentBox img.right-image{
	float:right;
	margin-left:30px;
}

div.gray-line{ border:0; border-bottom:1px solid #808184; height:0; line-height:0; font-size:0; margin:30px 0 0 10px; }

div#footer{ width:auto !important; margin:25px 0 15px; height:10px; }




/*****************************************************
 * Clear fixes
 *****************************************************/
.clearfix:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clearfix{
    display:inline-block !important;
}
html[xmlns] .clearfix{
    display:block !important;
}
* html .clearfix{
    height:1% !important;
}
/*	clearfixx */
.clearfixx{
	clear:both;
	font-size:0;
	height:0;
	line-height:0;
}