.message {
	border: solid 1px;
	margin-left: 7px;
	padding: 0.5em;
	line-height: 150%;
	font-family: monospace;
	font-size: 120%;
}
.coverage- {
	/* pre-wrap is better, but doesn't work in FireFox or IE. */
	white-space: pre;
	
	margin: 0px;
}
.coverage-true {
	background-color: #0fdf0f;
	white-space: pre;
	margin: 0;
}
.coverage-assertion {
	background-color: #009c00;
	white-space: pre;
	margin: 0px;
}
.coverage-false {
	background-color: #df0f0f;
	white-space: pre;
	margin: 0px;
}
.tableheader {
	background-color: #cccccc;
	font-weight: bold;
}

body {
	font:normal 68% verdana,arial,helvetica;
	color:#000000;
}

h1 {
	margin-top: 1em; margin-bottom: 0.5em;
	font: bold 125% verdana,arial,helvetica
}
h1.page {
	margin-top: 1em; margin-bottom: 0.5em;
	font: bold 325% verdana,arial,helvetica
}

h3 {
	margin-top: 1em; margin-bottom: 0.5em;
	font: bold 115% verdana,arial,helvetica
}

table tr td, table tr th {
	font-size: 68%;
}

table.contractCoverage{
	font-weight: bold;
	text-align:left;
	background:#ffffff;
	border-width: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
}

td {
	font-weight: bold;
	text-align:left;
	-moz-border-radius: ;
	background:#ffffff;
}
td.tableheader {
	padding: 5px;
}
td.header {
	font-weight: bold;
	text-align:left;
	padding: 5px;
	background:#a6caf0;
	-moz-border-radius: ;
	width=150px;
}
td.count, td.percent {
	font-weight: normal;
	text-align: right;
	background: #eeeee0;
	padding: 3px 5px 3px 3px;
	-moz-border-radius: ;
}
td.percent {
	font-style: italic;
}
